.basket_wrapper{
     position: relative;
    z-index: 1;
      margin: 25px 15px;
}
.items_wrapper{
    border: 1px dotted;
    border-radius: 20px;
    padding: 15px;
}
.item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    border: 1px solid;
    margin: 15px 20px;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
}
.item button{
    background-color: transparent;
    border: none;
    outline: none;
}
.item svg{
    color: white;
}
.item_counter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buttons_wrapper{
   display: flex ;
   gap: 10px;
}
.buttons_wrapper button{
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    transition: all 6000ms ease-in;
    margin-top: 10px;
    outline: none;
}
.buttons_wrapper button:hover{
    border: 2px solid black;
}
.total_info h2{
    display: flex;
    align-items: center;
    gap: 20px
}