.reserve-section{
    margin-top: 100px;
}
.reserve-section div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reserve-section div button{
    border: none;
    padding: 10px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}
.reserve-section span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 10px;
}

/* responsive section */
@media (max-width : 480px) {
    .reserve-section div{
        gap: 10px;
        flex-direction: column;
    }
    .reserve-section div h2{
        text-align: center;
        margin: 0 auto;
    }
    .reserve-section div button{
        width: 100%;
    }
}