.teamsection-wrapper{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
}
.teamsection-wrapper img{
    width: 500px;
    height: 500px;
}
.team-desc_wrapper h2{
    font-family: "NunitoBold";
    font-size: 40px;
}
.team-desc_wrapper button{
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
     transition: all 600ms ease-in;
}
.team-desc_wrapper button:hover{
    transform: scale(1.1);
}

/* responsive section */

@media (max-width : 1024px) {
       .team-desc_wrapper h2{
        font-size: 25px;
    }
    .team-desc_wrapper p{
        font-size: 12px;
    }
    .teamsection-wrapper img{
        width: 300px;
        height: 300px;
    }
}
@media (max-width : 760px) {
    .teamsection-wrapper{
        flex-direction: column;
    }
    .team-desc_wrapper{
        text-align: center;
        max-width: 500px;
    }
    .team-desc_wrapper button{
        margin: 20px auto 0 auto;
    }
     .teamsection-wrapper img{
        width: 250px;
        height: 250px;
    }
}