.header_topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop_name{
    font-family: "NunitoBold";
}
.basket_btn{
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 30px;
    outline: none;
    color: #fff;
    text-shadow: -1px 3px 6px rgba(0,0,0,0.81);
}
.basket_counter{
    position: absolute;
    font-size: 12px;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 100%;
    padding: 2px;
    top: 0;
    left: 0;
}
.header_desc{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header_desc_text{
    width: 500px;
}
.header_desc_img{
    transform: translateY(-50px);
    width: 500px;
    height: 500px;
}
img{
    width: 70px;
    height: 70px;
}
/* basket section */
.custom_svg{
    color: white;
}
.custom_button{
    background: none;
    border: none;
    outline: none;
}
.flex{
    display: flex;
    align-items: center;
}
.basket_wrapper{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 10px;
    border-radius: 20px
}.basket_middle{
    margin-top: 30px;
    height: 100%;
    overflow: hidden;
    height: 230px;
    overflow-y: scroll;
}
.basket_top{
    justify-content: space-between;
    border-bottom: 1px solid;
}
.basket_top button{
    width: 40px;
    height: 40px;
}
.basket_top button svg{
    width: 100%;
    height: 100%;
}
.basket_top span{
    font-size: 16px;
}
.basket_item{
    border: 1px solid;
    padding: 5px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.section_one{
    gap: 5px;
}
.basket_item_desc{
    gap: 50px;
}
.basket_item_desc_textwrapper{
    flex-direction: column;
    width: 85px;
    margin-left: 15px;
}
.basket_item_desc_textwrapper p{
    font-size: 16px;
    width: 100%;
}
.salad_title{
    font-size: 14px;
    margin-top: 16px;

    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.basket_item_desc_countwrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}
.basket_item_desc_countwrapper span{
    font-size: 16px;
}
.basket_item_desc_countwrapper div{
    display: flex;
    align-items: center;
}
.basket_item_desc_countwrapper div button{
    justify-content: center;
}
.basket_buttom{
    margin-top: 30px;
}
.basket_buttom button{
    border: 1px solid;
    background-color: white;
    color: rgba(30, 28, 28);
    padding: 10px 40px;
    border-radius: 20px;
    transition: all 200ms ease-in;
    width: 100%;
}
.basket_buttom button:hover{
    background-color: transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a7a3a3; 
}
/* responsive section */

@media (max-width : 1024px) {
    .header_desc_text{
        width: 400px;
        font-size: 20px;
    }
    .header_desc_img{
        width: 300px;
        height: 300px;
        transform: none;
    }
}
@media (max-width : 729px) {
    .header_desc{
        flex-direction: column-reverse;
    }
    .header_desc_text{
        max-width: 500px;
        text-align: center;
    }
}
@media (max-width : 450px) {
    .header_desc_text{
        max-width: 250px;
    }
    .header_desc_img{
        width: 250px;
        height: 250px;
    }
    .header_desc_text{
        font-size: 15px;
    }
    .shop_name{
        font-size: 12px;
    }
    .basket_btn{
        font-size: 20px;
    }
}