.header-topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop-name{
    font-family: "NunitoBold";
}
.basket{
    border: none;
    background-color: transparent;
    font-size: 30px;
    outline: none;
    color: #fff;
    text-shadow: -1px 3px 6px rgba(0,0,0,0.81);
}
.header-desc{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-desc_text{
    width: 500px;
}
.header-desc_img{
    transform: translateY(-50px);
    width: 500px;
    height: 500px;
}

/* responsive section */

@media (max-width : 1024px) {
    .header-desc_text{
        width: 400px;
        font-size: 20px;
    }
    .header-desc_img{
        width: 300px;
        height: 300px;
        transform: none;
    }
}
@media (max-width : 729px) {
    .header-desc{
        flex-direction: column-reverse;
    }
    .header-desc_text{
        max-width: 500px;
        text-align: center;
    }
}
@media (max-width : 450px) {
    .header-desc_text{
        max-width: 300px;
    }
    .header-desc_img{
        width: 200px;
        height: 200px;
    }
    .header-desc_text{
        font-size: 15px;
    }
    .shop-name{
        font-size: 12px;
    }
    .basket{
        font-size: 20px;
    }
}