.container{
  margin: 0 auto;
  padding: 40px;
  position: relative;
  z-index: 999;
}
main{
  overflow-x: hidden;
}
footer{
  text-align: center;
  margin-top: 100px;
}


@media (max-width : 760px) {
   .container{
    padding: 20px;
   }
}